<a href="https://colab.research.google.com/github/SeanAntosiak/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-07-11 21:52:31--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [        <=>         ]  21.51M  1.66MB/s    in 13s

2019-07-11 21:52:45 (1.64 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22559146]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4456.17","4456.17","895.96","895.96","543.83","352.13","0.0","0.0","0.0","Jun-2019","180.69","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 14.47%","587.82","C","C2","teacher","10+ years","OWN","110000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","117xx","NY","26.43","1","Jan-1997","0","7","","23","0","39053","45.7%","49","w","23533.24","23533.24","2908.95","2908.95","1466.76","1442.19","0.0","0.0","0.0","May-2019","587.82","Jul-2019","Jun-2019","0","7","1","Individual","","","","0","0","95648","0","3","0","0","35","54716","23","1","2","8422","39","85500","0","1","0","2","4159","34837","44.5","0","0","263","246","10","10","0","48","","","","0","9","13","10","14","21","19","27","13","23","0","0","1","1","98","10","0","0","179321","95648","62800","91424","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","8788.59","8788.59","1612.54","1612.54","1211.41","401.13","0.0","0.0","0.0","May-2019","324.23","Jul-2019","Jun-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3596.15","3596.15","770.6","770.60","403.85","366.75","0.0","0.0","0.0","May-2019","155.68","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","31450","31450","31450"," 36 months","  7.56%","979.16","A","A3","Construction Manager","7 years","MORTGAGE","130000","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","895xx","NV","9.29","0","Jul-1997","0","","","11","0","65911","63.1%","17","w","26689.41","26689.41","5802.32","5802.32","4760.59","1041.73","0.0","0.0","0.0","Jun-2019","979.16","Jul-2019","Jun-2019","0","","1","Joint App","239000","12.77","Verified","0","0","422806","0","0","0","0","75","0","","0","0","18962","63","104400","0","2","1","0","42281","29007","53.5","0","0","89","257","28","28","3","28","","11","","0","4","6","6","6","2","10","12","6","11","0","0","0","0","100","33.3","0","0","519900","65911","62400","0","64367","Jul-1997","0","3","14","60.9","1","19","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","15500","15500","15500"," 36 months"," 10.72%","505.4","B","B2","Administrative Assistant ","10+ years","RENT","52000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","925xx","CA","16.66","0","Oct-2007","0","","","13","0","13496","33.9%","16","w","13632.26","13632.26","2513.15","2513.15","1867.74","645.41","0.0","0.0","0.0","May-2019","505.4","Jul-2019","Jun-2019","1","","1","Individual","","","","0","349","19386","1","1","0","1","15","5890","59","3","4","6061","39","39800","0","2","1","5","1491","14251","47.4","0","0","60","134","6","6","0","6","","11","","0","6","8","7","9","2","12","14","8","13","0","0","0","3","100","0","0","0","49742","19386","27100","9942","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 14.47%","206.44","C","C2","","< 1 year","OWN","300000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","068xx","CT","17.43","1","Apr-2002","1","17","","38","0","65950","49.8%","58","w","5313.18","5313.18","1024.96","1024.96","686.82","338.14","0.0","0.0","0.0","May-2019","206.44","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","349502","1","4","1","3","7","39961","45","1","12","15926","48","132500","2","2","2","15","9197","38683","60.6","0","0","166","200","4","4","1","4","","4","17","0","16","20","19","26","9","33","48","20","38","0","0","0","2","100","26.3","0","0","477390","105911","98300","89600","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6500","6500","6500"," 36 months"," 17.97%","234.9","D","D1","Quality Field Engineer","4 years","MORTGAGE","154000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","278xx","NC","28.78","2","Oct-2008","0","6","","27","0","23754","60.4%","41","w","5791.28","5791.28","1164.77","1164.77","708.72","456.05","0.0","0.0","0.0","May-2019","234.9","Jul-2019","Jun-2019","0","6","1","Individual","","","","0","0","116747","2","8","3","5","1","92993","78","1","6","3943","72","39300","3","3","3","11","4324","4578","62.8","1","0","122","74","11","1","0","13","","4","","1","5","19","5","8","17","19","24","19","27","0","0","1","4","90.2","20","0","0","169160","116747","12300","129860","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

Apply the function to the `int_rate` column

### Clean `emp_title`

Look at top 20 titles

How often is `emp_title` null?

Clean the title and handle missing values

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [7]:
!wget !wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-07-11 21:54:15--  http://!wget/
Resolving !wget (!wget)... failed: Name or service not known.
wget: unable to resolve host address ‘!wget’
--2019-07-11 21:54:15--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip.3’

LoanStats_2018Q3.cs     [     <=>            ]  21.68M  1.67MB/s    in 14s

2019-07-11 21:54:28 (1.60 MB/s) - ‘LoanStats_2018Q3.csv.zip.3’ saved [22734399]

FINISHED --2019-07-11 21:54:28--
Total wall clock time: 14s
Downloaded: 1 files, 22M in 14s (1.60 MB/s)

In [8]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
replace LoanStats_2018Q3.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: no

In [9]:
!head LoanStats_2018Q3.csv
print('')
print('break')
print('')
!tail LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","25000","25000","25000"," 36 months"," 16.14%","880.66","C","C4","Business Planner","10+ years","RENT","82000","Source Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","940xx","CA","19.6","0","Mar-1994","1","","","10","0","15437","59.4%","17","w","19828.26","19828.26","7881.11","7881.11","5171.74","2709.37","0.0","0.0","0.0","Jun-2019","880.66","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","39316","2","2","1","1","4","23879","59","4","5","5932","59","26000","0","0","1","6","3932","1844","87.7","0","0","127","294","1","1","0","1","","1","","0","4","6","4","4","5","8","12","6","10","0","0","0","5","94.1","75","0","0","66646","39316","15000","40646","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months","  7.84%","625.26","A","A4","Teacher","10+ years","MORTGAGE","48186","Not Verified","Sep-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","641xx","MO","24.68","0","Aug-1996","0","","","17","0","23822","58.8%","38","w","0.00","0.00","20784.1825807893","20784.18","20000.00","784.18","0.0","0.0","0.0","Apr-2019","17105.26","","Apr-2019","0","","1","Individual","","","","0","0","191246","0","9","0","2","16","14800","48","1","1","11800","54","40500","1","0","0","3","11250","13078","57.8","0","0","265","239","8","8","2","8","","16","","0","3","4","6","7","27","7","9","4","17","0","0","0","1","100","16.7","0","0","234182","38622","31000","30832","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","15000","15000","15000"," 60 months"," 15.02%","357.01","C","C3","Salesperson","10+ years","RENT","70000","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","190xx","PA","18.05","0","Jul-1995","0","42","","7","0","8112","66.5%","11","w","13398.12","13398.12","3188.06","3188.06","1601.88","1586.18","0.0","0.0","0.0","Jun-2019","357.01","Jul-2019","Jun-2019","1","80","1","Individual","","","","0","0","11619","0","1","0","0","34","3507","12","2","4","2561","28","12200","0","0","0","4","1660","3751","67.1","0","0","130","103","7","7","0","7","","","43","1","5","6","5","5","4","6","6","6","7","0","0","0","2","72.7","40","0","0","42018","11619","11400","29818","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months","  6.67%","614.53","A","A2","General Manager","< 1 year","MORTGAGE","125000","Not Verified","Sep-2018","Current","n","","","house","Home buying","750xx","TX","15.55","1","Jul-2003","0","21","","24","0","5832","11.4%","36","w","15367.69","15367.69","5515.95","5515.95","4632.31","883.64","0.0","0.0","0.0","Jun-2019","614.53","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","63577","2","1","0","1","22","54244","","2","4","3048","17","51100","1","0","6","6","3027","36050","11.9","0","0","148","182","6","6","2","24","21","1","21","0","5","6","16","19","6","22","26","6","24","0","0","0","2","97.2","7.7","0","0","133998","63577","40900","78764","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months","  7.84%","125.06","A","A4","Manager ","3 years","RENT","45000","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","334xx","FL","13.6","1","Oct-2013","1","23","","8","0","3344","11.8%","10","w","3086.03","3086.03","1122.06","1122.06","913.97","208.09","0.0","0.0","0.0","Jun-2019","125.06","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","20027","2","1","1","1","2","16683","101","3","5","1872","45","28300","2","0","4","6","2503","16677","14.5","0","0","46","59","4","2","0","7","23","2","23","0","4","6","5","6","2","7","8","6","8","0","0","0","4","90","0","0","0","44878","20027","19500","16578","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","14400","14400","14400"," 60 months"," 16.91%","357.19","C","C5","LPN","4 years","RENT","80000","Source Verified","Sep-2018","Current","n","","","house","Home buying","086xx","NJ","24.16","1","May-2011","2","23","","22","0","14387","55.5%","29","w","12930.67","12930.67","3092.96","3092.96","1469.33","1623.63","0.0","0.0","0.0","Jun-2019","357.19","Jul-2019","Jun-2019","0","23","1","Individual","","","","0","0","86586","4","8","2","4","1","71208","76","3","4","2000","65","25900","1","3","4","8","4123","9193","39.5","0","0","88","51","2","1","0","2","","1","","1","6","8","9","10","14","13","14","8","22","0","0","1","5","100","0","0","0","107819","86586","15200","78976","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months","  7.84%","312.63","A","A4","","n/a","OWN","50000","Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","629xx","IL","9","1","May-2002","0","5","","13","0","8542","26.6%","19","w","7715.27","7715.27","2804.96","2804.96","2284.73","520.23","0.0","0.0","0.0","Jun-2019","312.63","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","8883","0","1","0","0","33","341","14","1","2","1655","26","32100","0","0","0","2","683","8920","28.1","0","0","196","146","11","11","1","17","","","","0","3","6","6","9","2","12","16","6","13","0","0","0","1","94.7","33.3","0","0","34500","8883","12400","2400","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 36 months","  6.00%","916.82","A","A5","Mental Health Therapist","5 years","MORTGAGE","70000","Source Verified","Sep-2018","Current","n","","","medical","Medical expenses","562xx","MN","37.12","0","Sep-2002","0","","","9","0","8475","40%","57","w","23102.04","23102.04","8400.58","8400.58","6897.96","1502.62","0.0","0.0","0.0","Jun-2019","916.82","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","256717","2","4","2","3","3","114898","73","0","0","3674","65","21200","1","0","4","3","32090","6526","36","0","0","192","184","40","3","2","148","","3","","0","1","2","1","4","44","3","11","2","9","0","0","0","2","100","0","0","0","298892","123373","10200","133192","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

break

"","","5000","5000","5000"," 36 months"," 16.46%","176.93","C","C5","Labor Worker","3 years","MORTGAGE","57000","Not Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","781xx","TX","33.09","0","Jul-2008","0","25","","11","0","7449","41.4%","47","w","3722.99","3722.99","1937.09","1937.09","1277.01","660.08","0.0","0.0","0.0","Jun-2019","176.93","Jul-2019","Jun-2019","0","","1","Individual","","","","0","236","45088","1","5","3","4","7","37639","58","1","2","0","54","18000","3","10","1","6","4099","","","0","0","119","80","1","1","0","","","8","25","0","0","4","0","1","39","6","8","4","11","0","0","0","4","93.6","","0","0","83496","45088","0","65496","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 14.03%","410.31","C","C2","Medical Support Staff","10+ years","OWN","53414","Source Verified","Jul-2018","Current","n","","","home_improvement","Home improvement","136xx","NY","25.68","0","Mar-1997","0","","","8","0","6527","44.4%","20","w","8850.03","8850.03","4499.38","4499.38","3149.97","1349.41","0.0","0.0","0.0","Jun-2019","410.31","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","29869","0","2","0","2","13","23342","73","0","0","3977","64","14700","1","1","0","2","3734","7173","47.6","0","0","139","255","42","13","0","66","","18","","0","2","2","5","9","8","6","12","2","8","0","0","0","0","100","40","0","0","46792","29869","13700","32092","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months","  6.19%","152.55","A","A2","Host/cashier","4 years","RENT","22000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","731xx","OK","11.67","0","Apr-2001","0","","","6","0","7118","23.3%","19","w","3569.13","3569.13","1674.61","1674.61","1430.87","243.74","0.0","0.0","0.0","Jun-2019","152.55","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","7118","1","0","0","0","127","0","","1","1","3841","23","30500","1","0","0","1","1186","23382","23.3","0","0","168","206","3","3","0","3","","17","","0","3","3","6","10","4","6","15","3","6","0","0","0","1","100","0","0","0","30500","7118","30500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.49%","698.12","C","C4","Client manager","10+ years","MORTGAGE","80000","Verified","Jul-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","913xx","CA","22.14","0","Apr-1994","0","43","","27","0","28994","63%","47","w","0.00","0.00","22361.874490153","22361.87","20000.00","2361.87","0.0","0.0","0.0","May-2019","16113.21","","Jun-2019","0","43","1","Individual","","","","0","0","314886","0","1","0","0","37","15336","61","1","9","5067","64","46000","1","6","0","10","11662","3359","83.8","0","0","129","186","10","10","3","10","43","13","43","3","8","22","8","15","6","24","36","22","27","0","0","0","1","93.6","75","0","0","349879","47229","20700","25295","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 11.05%","327.63","B","B4","Operator","5 years","RENT","60000","Not Verified","Jul-2018","Fully Paid","n","","","credit_card","Credit card refinancing","952xx","CA","10.72","0","Apr-2015","0","27","","8","0","2301","28.1%","12","w","0.00","0.00","10761.5354030672","10761.54","10000.00","761.54","0.0","0.0","0.0","Apr-2019","8149.71","","Apr-2019","0","27","1","Individual","","","","0","0","9572","0","2","1","1","12","7271","60","3","4","1624","47","8200","0","0","1","5","1197","3099","42.6","0","0","34","38","9","9","0","11","","9","","1","3","3","5","6","3","6","8","3","8","0","0","0","4","100","20","0","0","20377","9572","5400","12177","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 16.46%","141.54","C","C5","jewelry","5 years","RENT","9600","Source Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","14.5","1","Nov-2014","0","15","","5","0","3545","45.4%","5","w","2978.44","2978.44","1549.62","1549.62","1021.56","528.06","0.0","0.0","0.0","Jun-2019","141.54","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","3545","1","0","0","0","","0","","1","2","1515","45","7800","0","0","0","2","709","285","84.2","0","0","","43","1","1","0","33","","","15","0","1","3","1","1","0","5","5","3","5","0","0","0","1","80","100","0","0","7800","3545","1800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2063142975
Total amount funded in policy code 2: 823319310

In [10]:
df1 = pd.read_csv('LoanStats_2018Q3.csv', skiprows=[0], skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [11]:
df1.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,25000,25000,25000,36 months,16.14%,880.66,C,C4,Business Planner,10+ years,RENT,82000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,940xx,CA,19.60,0,Mar-1994,1,NaN,NaN,10,0,15437,59.4%,17,w,19828.26,19828.26,7881.110000,7881.11,5171.74,2709.37,0.0,0.0,0.0,Jun-2019,880.66,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39316,2,2,1,1,4.0,23879,59.0,4,5,5932,59.0,26000,0,0,1,6,3932.0,1844.0,87.7,0,0,127.0,294,1,1,0,1.0,NaN,1.0,NaN,0,4,6,4,4,5,8,12,6,10,0.0,0,0,5,94.1,75.0,0,0,66646,39316,15000,40646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,20000,20000,20000,36 months,7.84%,625.26,A,A4,Teacher,10+ years,MORTGAGE,48186.0,Not Verified,Sep-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,641xx,MO,24.68,0,Aug-1996,0,NaN,NaN,17,0,23822,58.8%,38,w,0.00,0.00,20784.182581,20784.18,20000.00,784.18,0.0,0.0,0.0,Apr-2019,17105.26,NaN,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,191246,0,9,0,2,16.0,14800,48.0,1,1,11800,54.0,40500,1,0,0,3,11250.0,13078.0,57.8,0,0,265.0,239,8,8,2,8.0,NaN,16.0,NaN,0,3,4,6,7,27,7,9,4,17,0.0,0,0,1,100.0,16.7,0,0,234182,38622,31000,30832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,15000,15000,15000,60 months,15.02%,357.01,C,C3,Salesperson,10+ years,RENT,70000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,190xx,PA,18.05,0,Jul-1995,0,42.0,NaN,7,0,8112,66.5%,11,w,13398.12,13398.12,3188.060000,3188.06,1601.88,1586.18,0.0,0.0,0.0,Jun-2019,357.01,Jul-2019,Jun-2019,1,80.0,1,Individual,NaN,NaN,NaN,0,0,11619,0,1,0,0,34.0,3507,12.0,2,4,2561,28.0,12200,0,0,0,4,1660.0,3751.0,67.1,0,0,130.0,103,7,7,0,7.0,NaN,NaN,43.0,1,5,6,5,5,4,6,6,6,7,0.0,0,0,2,72.7,40.0,0,0,42018,11619,11400,29818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20000,20000,20000,36 months,6.67%,614.53,A,A2,General Manager,< 1 year,MORTGAGE,125000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,house,Home buying,750xx,TX,15.55,1,Jul-2003,0,21.0,NaN,24,0,5832,11.4%,36,w,15367.69,15367.69,5515.950000,5515.95,4632.31,883.64,0.0,0.0,0.0,Jun-2019,614.53,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,63577,2,1,0,1,22.0,54244,NaN,2,4,3048,17.0,51100,1,0,6,6,3027.0,36050.0,11.9,0,0,148.0,182,6,6,2,24.0,21.0,1.0,21.0,0,5,6,16,19,6,22,26,6,24,0.0,0,0,2,97.2,7.7,0,0,133998,63577,40900,78764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,4000,4000,4000,36 months,7.84%,125.06,A,A4,Manager,3 years,RENT,45000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,334xx,FL,13.60,1,Oct-2013,1,23.0,NaN,8,0,3344,11.8%,10,w,3086.03,3086.03,1122.060000,1122.06,913.97,208.09,0.0,0.0,0.0,Jun-2019,125.06,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,20027,2,1,1,1,2.0,16683,101.0,3,5,1872,45.0,28300,2,0,4,6,2503.0,16677.0,14.5,0,0,46.0,59,4,2,0,7.0,23.0,2.0,23.0,0,4,6,5,6,2,7,8,6,8,0.0,0,0,4,90.0,0.0,0,0,44878,20027,19500,16578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
print(df1.shape)

print('')

df1.isnull().sum().sort_values(ascending=False)

(128194, 144)

id                                            128194
desc                                          128194
member_id                                     128194
url                                           128194
orig_projected_additional_accrued_interest    128132
hardship_type                                 128127
hardship_last_payment_amount                  128127
hardship_payoff_balance_amount                128127
hardship_reason                               128127
hardship_loan_status                          128127
hardship_dpd                                  128127
hardship_length                               128127
payment_plan_start_date                       128127
hardship_end_date                             128127
hardship_start_date                           128127
hardship_amount                               128127
deferral_term                                 128127
hardship_status                               128127
settlement_percentage                         128030
settlement_term                               128030
settlement_date                               128030
debt_settlement_flag_date                     128030
settlement_status                             128030
settlement_amount                             128030
sec_app_mths_since_last_major_derog           122582
mths_since_last_record                        112487
verification_status_joint                     112465
sec_app_revol_util                            110719
sec_app_earliest_cr_line                      110409
revol_bal_joint                               110409
sec_app_mort_acc                              110409
sec_app_inq_last_6mths                        110409
annual_inc_joint                              110409
sec_app_open_acc                              110409
sec_app_open_act_il                           110409
sec_app_num_rev_accts                         110409
sec_app_chargeoff_within_12_mths              110409
sec_app_collections_12_mths_ex_med            110409
dti_joint                                     110409
mths_since_recent_bc_dlq                      102769
mths_since_last_major_derog                    98364
mths_since_recent_revol_delinq                 91113
mths_since_last_delinq                         71389
il_util                                        20514
next_pymnt_d                                   17804
mths_since_recent_inq                          16016
emp_title                                      13437
emp_length                                     10387
mo_sin_old_il_acct                              4611
mths_since_rcnt_il                              4611
num_tl_120dpd_2m                                3254
bc_util                                         1696
percent_bc_gt_75                                1649
bc_open_to_buy                                  1647
mths_since_recent_bc                            1550
dti                                              307
last_pymnt_d                                     141
revol_util                                       129
all_util                                          29
avg_cur_bal                                       12
last_credit_pull_d                                 3
pct_tl_nvr_dlq                                     1
out_prncp                                          0
initial_list_status                                0
total_acc                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
pub_rec                                            0
total_rec_int                                      0
revol_bal                                          0
total_rec_late_fee                                 0
recoveries                                         0
debt_settlement_flag                               0
purpose                                            0
open_acc                                           0
inq_last_6mths                                     0
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
title                                              0
zip_code                                           0
addr_state                                         0
delinq_2yrs                                        0
earliest_cr_line                                   0
collection_recovery_fee                            0
open_il_12m                                        0
last_pymnt_amnt                                    0
mo_sin_rcnt_tl                                     0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_rev_tl_op                              0
collections_12_mths_ex_med                         0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

In [13]:
df2 = df1.drop(['id', 'member_id', 'desc', 'url'], axis=1)
df2.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,25000,25000,25000,36 months,16.14%,880.66,C,C4,Business Planner,10+ years,RENT,82000.0,Source Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,940xx,CA,19.60,0,Mar-1994,1,NaN,NaN,10,0,15437,59.4%,17,w,19828.26,19828.26,7881.110000,7881.11,5171.74,2709.37,0.0,0.0,0.0,Jun-2019,880.66,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39316,2,2,1,1,4.0,23879,59.0,4,5,5932,59.0,26000,0,0,1,6,3932.0,1844.0,87.7,0,0,127.0,294,1,1,0,1.0,NaN,1.0,NaN,0,4,6,4,4,5,8,12,6,10,0.0,0,0,5,94.1,75.0,0,0,66646,39316,15000,40646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,20000,20000,20000,36 months,7.84%,625.26,A,A4,Teacher,10+ years,MORTGAGE,48186.0,Not Verified,Sep-2018,Fully Paid,n,debt_consolidation,Debt consolidation,641xx,MO,24.68,0,Aug-1996,0,NaN,NaN,17,0,23822,58.8%,38,w,0.00,0.00,20784.182581,20784.18,20000.00,784.18,0.0,0.0,0.0,Apr-2019,17105.26,NaN,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,191246,0,9,0,2,16.0,14800,48.0,1,1,11800,54.0,40500,1,0,0,3,11250.0,13078.0,57.8,0,0,265.0,239,8,8,2,8.0,NaN,16.0,NaN,0,3,4,6,7,27,7,9,4,17,0.0,0,0,1,100.0,16.7,0,0,234182,38622,31000,30832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,15000,15000,15000,60 months,15.02%,357.01,C,C3,Salesperson,10+ years,RENT,70000.0,Not Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,190xx,PA,18.05,0,Jul-1995,0,42.0,NaN,7,0,8112,66.5%,11,w,13398.12,13398.12,3188.060000,3188.06,1601.88,1586.18,0.0,0.0,0.0,Jun-2019,357.01,Jul-2019,Jun-2019,1,80.0,1,Individual,NaN,NaN,NaN,0,0,11619,0,1,0,0,34.0,3507,12.0,2,4,2561,28.0,12200,0,0,0,4,1660.0,3751.0,67.1,0,0,130.0,103,7,7,0,7.0,NaN,NaN,43.0,1,5,6,5,5,4,6,6,6,7,0.0,0,0,2,72.7,40.0,0,0,42018,11619,11400,29818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,20000,20000,20000,36 months,6.67%,614.53,A,A2,General Manager,< 1 year,MORTGAGE,125000.0,Not Verified,Sep-2018,Current,n,house,Home buying,750xx,TX,15.55,1,Jul-2003,0,21.0,NaN,24,0,5832,11.4%,36,w,15367.69,15367.69,5515.950000,5515.95,4632.31,883.64,0.0,0.0,0.0,Jun-2019,614.53,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,63577,2,1,0,1,22.0,54244,NaN,2,4,3048,17.0,51100,1,0,6,6,3027.0,36050.0,11.9,0,0,148.0,182,6,6,2,24.0,21.0,1.0,21.0,0,5,6,16,19,6,22,26,6,24,0.0,0,0,2,97.2,7.7,0,0,133998,63577,40900,78764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4000,4000,4000,36 months,7.84%,125.06,A,A4,Manager,3 years,RENT,45000.0,Not Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,334xx,FL,13.60,1,Oct-2013,1,23.0,NaN,8,0,3344,11.8%,10,w,3086.03,3086.03,1122.060000,1122.06,913.97,208.09,0.0,0.0,0.0,Jun-2019,125.06,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,20027,2,1,1,1,2.0,16683,101.0,3,5,1872,45.0,28300,2,0,4,6,2503.0,16677.0,14.5,0,0,46.0,59,4,2,0,7.0,23.0,2.0,23.0,0,4,6,5,6,2,7,8,6,8,0.0,0,0,4,90.0,0.0,0,0,44878,20027,19500,16578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df2['term'] = df2['term'].str.strip(' months')
df2['term'] = df2['term'].astype(int)
df2.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                                 int64
term                                            int64
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [0]:
def goodStanding(value):
  if value == "Current" or value == "Fully Paid":
    return(1);
  else: return(0);

In [16]:
df3 = df2.copy()
df3['loan_status_is_great']=df3['loan_status'].apply(goodStanding)

print(df3['loan_status'][50])
print(df3['loan_status_is_great'][50])

print('')

print(df3['loan_status'][49])
print(df3['loan_status_is_great'][49]) # 3 Examples to show it works

print('')

print(df3['loan_status'][1])
print(df3['loan_status_is_great'][1])

Charged Off
0

Current
1

Fully Paid
1

In [0]:
df4 = df3.copy()

df4['last_pymnt_d_year'] = pd.to_datetime(df4['last_pymnt_d'], infer_datetime_format=True)
df4['last_pymnt_d_month'] = pd.to_datetime(df4['last_pymnt_d'], infer_datetime_format=True)

In [0]:
df4['last_pymnt_d_year'] = df4['last_pymnt_d_year'].dt.year

In [0]:
df4['last_pymnt_d_month'] = df4['last_pymnt_d_month'].dt.month

In [20]:
finalDF = df4.copy()
finalDF.head(20)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_year,last_pymnt_d_month
0,25000,25000,25000,36,16.14%,880.66,C,C4,Business Planner,10+ years,RENT,82000.0,Source Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,940xx,CA,19.60,0,Mar-1994,1,NaN,NaN,10,0,15437,59.4%,17,w,19828.26,19828.26,7881.110000,7881.11,5171.74,2709.37,0.0,0.0,0.0,Jun-2019,880.66,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39316,2,2,1,1,4.0,23879,59.0,4,5,5932,59.0,26000,0,0,1,6,3932.0,1844.0,87.7,0,0,127.0,294,1,1,0,1.0,NaN,1.0,NaN,0,4,6,4,4,5,8,12,6,10,0.0,0,0,5,94.1,75.0,0,0,66646,39316,15000,40646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
1,20000,20000,20000,36,7.84%,625.26,A,A4,Teacher,10+ years,MORTGAGE,48186.0,Not Verified,Sep-2018,Fully Paid,n,debt_consolidation,Debt consolidation,641xx,MO,24.68,0,Aug-1996,0,NaN,NaN,17,0,23822,58.8%,38,w,0.00,0.00,20784.182581,20784.18,20000.00,784.18,0.0,0.0,0.0,Apr-2019,17105.26,NaN,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,191246,0,9,0,2,16.0,14800,48.0,1,1,11800,54.0,40500,1,0,0,3,11250.0,13078.0,57.8,0,0,265.0,239,8,8,2,8.0,NaN,16.0,NaN,0,3,4,6,7,27,7,9,4,17,0.0,0,0,1,100.0,16.7,0,0,234182,38622,31000,30832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,4.0
2,15000,15000,15000,60,15.02%,357.01,C,C3,Salesperson,10+ years,RENT,70000.0,Not Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,190xx,PA,18.05,0,Jul-1995,0,42.0,NaN,7,0,8112,66.5%,11,w,13398.12,13398.12,3188.060000,3188.06,1601.88,1586.18,0.0,0.0,0.0,Jun-2019,357.01,Jul-2019,Jun-2019,1,80.0,1,Individual,NaN,NaN,NaN,0,0,11619,0,1,0,0,34.0,3507,12.0,2,4,2561,28.0,12200,0,0,0,4,1660.0,3751.0,67.1,0,0,130.0,103,7,7,0,7.0,NaN,NaN,43.0,1,5,6,5,5,4,6,6,6,7,0.0,0,0,2,72.7,40.0,0,0,42018,11619,11400,29818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
3,20000,20000,20000,36,6.67%,614.53,A,A2,General Manager,< 1 year,MORTGAGE,125000.0,Not Verified,Sep-2018,Current,n,house,Home buying,750xx,TX,15.55,1,Jul-2003,0,21.0,NaN,24,0,5832,11.4%,36,w,15367.69,15367.69,5515.950000,5515.95,4632.31,883.64,0.0,0.0,0.0,Jun-2019,614.53,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,63577,2,1,0,1,22.0,54244,NaN,2,4,3048,17.0,51100,1,0,6,6,3027.0,36050.0,11.9,0,0,148.0,182,6,6,2,24.0,21.0,1.0,21.0,0,5,6,16,19,6,22,26,6,24,0.0,0,0,2,97.2,7.7,0,0,133998,63577,40900,78764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
4,4000,4000,4000,36,7.84%,125.06,A,A4,Manager,3 years,RENT,45000.0,Not Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,334xx,FL,13.60,1,Oct-2013,1,23.0,NaN,8,0,3344,11.8%,10,w,3086.03,3086.03,1122.060000,1122.06,913.97,208.09,0.0,0.0,0.0,Jun-2019,125.06,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,20027,2,1,1,1,2.0,16683,101.0,3,5,1872,45.0,28300,2,0,4,6,2503.0,16677.0,14.5,0,0,46.0,59,4,2,0,7.0,23.0,2.0,23.0,0,4,6,5,6,2,7,8,6,8,0.0,0,0,4,90.0,0.0,0,0,44878,20027,19500,16578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
5,14400,14400,14400,60,16.91%,357.19,C,C5,LPN,4 years,RENT,80000.0,Source Verified,Sep-2018,Current,n,house,Home buying,086xx,NJ,24.16,1,May-2011,2,23.0,NaN,22,0,14387,55.5%,29,w,12930.67,12930.67,3092.960000,3092.96,1469.33,1623.63,0.0,0.0,0.0,Jun-2019,357.19,Jul-2019,Jun-2019,0,23.0,1,Individual,NaN,NaN,NaN,0,0,86586,4,8,2,4,1.0,71208,76.0,3,4,2000,65.0,25900,1,3,4,8,4123.0,9193.0,39.5,0,0,88.0,51,2,1,0,2.0,NaN,1.0,NaN,1,6,8,9,10,14,13,14,8,22,0.0,0,1,5,100.0,0.0,0,0,107819,86586,15200,78976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
6,10000,10000,10000,36,7.84%,312.63,A,A4,NaN,NaN,OWN,50000.0,Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,629xx,IL,9.00,1,May-2002,0,5.0,NaN,13,0,8542,26.6%,19,w,7715.27,7715.27,2804.960000,2804.96,2284.73,520.23,0.0,0.0,0.0,Jun-2019,312.63,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,8883,0,1,0,0,33.0,341,14.0,1,2,1655,26.0,32100,0,0,0,2,683.0,8920.0,28.1,0,0,196.0,146,11,11,1,17.0,NaN,NaN,NaN,0,3,6,6,9,2,12,16,6,13,0.0,0,0,1,94.7,33.3,0,0,34500,8883,12400,2400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
7,30000,30000,30000,36,6.00%,916.82,A,A5,Mental Health Therapist,5 years,MORTGAGE,70000.0,Source Verified,Sep-2018,Current,n,medical,Medical expenses,562xx,MN,37.12,0,Sep-2002,0,NaN,NaN,9,0,8475,40%,57,w,23102.04,23102.04,8400.580000,8400.58,6897.96,1502.62,0.0,0.0,0.0,Jun-2019,916.82,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,256717,2,4,2,3,3.0,114898,73.0,0,0,3674,65.0,21200,1,0,4,3,32090.0,6526.0,36.0,0,0,192.0,184,40,3,2,148.0,NaN,3.0,NaN,0,1,2,1,4,44,3,11,2,9,0.0,0,0,2,100.0,0.0,0,0,298892,123373,10200,133192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
8,6025,6025,6025,36,15.02%,208.92,C,C3,Home Health Aide,10+ years,RENT,35000.0,Not Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,024xx,MA,7.13,0,Jul-2011,0,NaN,66.0,6,1,3650,46.2%,7,w,4761.49,4761.49,1870.220000,1870.22,1263.51,606.71,0.0,0.0,0.0,Jun-2019,208.92,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,3650,1,0,0,0,86.0,0,NaN,2,3,1158,46.0,7900,0,0,1,3,608.0,377.0,89.2,0,0,86.0,57,5,5,0,8.0,NaN,10.0,NaN,0,4,6,4,4,1,6,6,6,6,0.0,0,0,2,100.0,100.0,1,0,7900,3650,3500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
9,10000,10000,10000,36,7.21%,309.74,A,A3,Sales Operations Manager,1 year,RENT,90000.0,Not Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,372xx,TN,14.13,0,Feb-2004,0,42.0,NaN,11,0,2048,6.2%,21,w,7698.84,7698.84,2759.630000,2759.63,2301.16,458.47,0.0,0.0,0.0,Jun-2019,309.74,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,40888,2,6,3,3,4.0,38840,72.0,0,0,1555,47.0,33000,1,0,4,3,4089.0,26952.0,7.1,0,0,131.0,175,31,4,0,51.0,NaN,4.0,42.0,0,2,2,4,5,12,5,8,2,11,0.0,0,0,3,100.0,0.0,0,0,86885,40888,29000,53885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
10,10650,10650,10650,36,7.84%,332.95,A,A4,NaN,NaN,RENT,28000.0,Verified,Sep-2018,Current,n,medical,Medical expenses,430xx,OH,16.89,0,Nov-2002,0,NaN,NaN,3,0,37,0.3%,3,w,8216.77,8216.77,2987.270000,2987.27,2433.23,554.04,0.0,0.0,0.0,Jun-2019,332.95,Jul-2019,Jun-2019,0,NaN,1,Joint App,43000.0,14.01,Source Verified,0,0,18254,0,1,0,1,16.0,18217,81.0,0,0,0,54.0,11500,1,1,0,1,6085.0,NaN,NaN,0,0,16.0,190,113,16,0,NaN,NaN,16.0,NaN,0,0,1,0,0,1,2,2,2,3,0.0,0,0,0,100.0,NaN,0,0,33876,18254,0,22376,2024.0,Oct-1996,0.0,0.0,8.0,18.7,1.0,9.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
11,20000,20000,20000,60,17.97%,507.55,D,D1,Motor Vehicle Operator,7 years,RENT,68000.0,Source Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,254xx,WV,15.80,0,Feb-2009,1,30.0,118.0,11,1,13483,69.1%,26,w,18011.38,18011.38,4528.020000,4528.02,1988.62,2539.40,0.0,0.0,0.0,Jun-2019,507.55,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194908,0,2,0,2,17.0,45299,93.0,0,1,9815,86.0,19500,1,4,2,5,19491.0,2185.0,81.8,0,0,115.0,94,13,7,4,25.0,NaN,2.0,30.0,0,1,3,2,4,11,8,10,3,11,0.0,0,0,1,92.3,50.0,1,0,205625,58782,12000,48733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
12,12000,12000,12000,36,6.11%,365.67,A,A1,PACS Imaging Tech.,10+ years,MORTGAGE,64000.0,Source Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,906xx,CA,21.04,0,May-2010,0,NaN,110.0,14,1,16243,34.6%,30,w,9202.37,9202.37,3282.880000,3282.88,2797.63,485.25,0.0,0.0,0.0,Jun-2019,365.67,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32738,1,1,0,2,13.0,16495,61.0,2,4,6146,44.0,47000,0,5,1,6,2338.0,8122.0,58.3,0,0,61.0,100,4,4,0,9.0,NaN,9.0,NaN,0,3,6,4,8,4,13,26,6,14,0.0,0,0,2,100.0,25.0,1,0,74161,32738,19500,27161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
13,24000,24000,24000,36,8.46%,757.18,A,A5,RN,10+ years,MORTGAGE,115000.0,Source Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,117xx,NY,17.59,3,Feb-1987,0,12.0,NaN,10,0,9785,55.6%,23,w,18556.47,18556.47,6792.060000,6792.06,5443.53,1348.53,0.0,0.0,0.0,Jun-2019,757.18,Jul-2019,Jun-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,500721,0,1,0,0,36.0,9793,51.0,0,1,4754,53.0,17600,0,1,0,1,50072.0,6945.0,45.7,0,0,139.0,379,14,14,2,14.0,NaN,14.0,NaN,2,2,5,3,9,4,6,16,5,10,0.0,0,0,0,82.6,66.7,0,0,615329,56407,12800,19247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
14,12000,12000,12000,60,22.35%,333.82,D,D5,NaN,NaN,MORTGAGE,38400.0,Source Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,630xx,MO,15.00,0,Mar-1999,1,NaN,66.0,13,1,8299,34%,24,w,11057.71,11057.71,2685.460000,2685.46,942.29,1743.17,0.0,0.0,0.0,Jun-2019,333.82,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,14095,2,1,2,3,4.0,5796,96.0,2,6,4786,46.0,24400,3,2,3,9,1084.0,10855.0,31.7,0,0,234.0,156,4,4,0,4.0,NaN,5.0,NaN,0,2,4,8,10,10,12,14,4,13,0.0,0,0,4,100.0,12.5,1,0,30448,14095,15900,6048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
15,32000,32000,32000,60,20.89%,863.73,D,D4,Licensed refrigeration technician,5 years,RENT,65000.0,Source Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,018xx,MA,18.32,0,Sep-2013,2,31.0,NaN,8,0,5363,30.5%,9,w,29039.83,29039.83,7699.290000,7699.29,2960.17,4739.12,0.0,0.0,0.0,Jun-2019,863.73,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,29455,3,3,2,2,2.0,24092,53.0,1,2,3500,47.0,17600,0,1,3,4,3682.0,9400.0,36.1,0,0,60.0,52,2,2,0,2.0,NaN,2.0,31.0,0,3,4,3,3,4,5,5,4,8,0.0,0,0,3,88.9,0.0,0,0,63356,29455,14700,45756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
16,12000,12000,12000,36,8.46%,378.59,A,A5,janitor,3 years,RENT,36500.0,Verified,Sep-2018,Current,n,debt_consolidation,Debt consolidation,100xx,NY,33.61,0,Aug-2005,0,NaN,NaN,20,0,23091,26.7%,23,w,9278.23,9278.23,3396.030000,3396.03,2721.77,674.26,0.0,0.0,0.0,Jun-2019,378.59,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,24368,0,1,0,0,31.0,1277,18.0,0,3,2749,26.0,86400,0,0,0,3,1218.0,56838.0,28.1,0,0,31.0,156,14,14,0,14.0,NaN,14.0,NaN,0,12,16,12,12,1,18,21,16,20,0.0,0,0,0,100.0,0.0,0,0,93768,24368,79100,7000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
17,12000,12000,12000,36,12.73%,402.77,B,B5,Driver,10+ years,RENT,65000.0,Source Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,920xx,CA,26.96,0,Mar-2007,1,75.0,NaN,7,0,6577,33.1%,10,w,9712.66,9712.66,3268.840000,3268.84,2287.34,981.50,0.0,0.0,0.0,Jun-2019,402.77,Jul-2019,Jun-2019,0,75.0,1,Individual,NaN,NaN,NaN,0,0,87156,3,1,1,1,1.0,80579,NaN,5,7,3648,33.0,19900,1,0,4,8,12451.0,11636.0,34.6,0,0,138.0,19,2,1,0,2.0,NaN,1.0,NaN,0,4,5,5,6,3,6,7,5,7,0.0,0,0,6,90.0,0.0,0,0,100272,87156,17800,80372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
18,21000,21000,21000,60,14.47%,493.77,C,C2,EO3,< 1 year,MORTGAGE,110000.0,Not Verified,Sep-2018,Current,n,home_improvement,Home improvement,729xx,AR,14.10,0,Nov-1996,2,NaN,NaN,7,0,24194,35.2%,21,w,18727.68,18727.68,4410.170000,4410.17,2272.32,2137.85,0.0,0.0,0.0,Jun-2019,493.77,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,194482,2,1,1,1,6.0,33324,95.0,1,1,13818,56.0,68700,1,0,5,2,27783.0,44506.0,35.2,0,0,122.0,262,5,5,3,5.0,NaN,4.0,NaN,0,3,3,5,9,8,5,10,3,7,0.0,0,0,2,100.0,20.0,0,0,247825,57518,68700,35000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,6.0
19,12500,12500,12500,36,13.56%,424.56,C,C1,Teacher,2 years,RENT,28600.0,Source Verified,Sep-2018,Current,n,credit_card,Credit card refinancing,920xx,CA,15.78,0,Sep-2012,0,NaN,NaN,9,0,10127,79.1%,13,w,10141.83,10141.83,3377.650000,3377.65,2358.17,1019.48,0.0,0.0,0.0,May-2019,424.56,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,10127,0,0,0,0,72.0,0,NaN,4,5,1947,79.0,12800,0,0,3,5,1125.0,109.0,97.3,0,0,72.0,61,10,10,0,36.0,NaN,9.0,NaN,0,2,8,2,3,1,9,12,8,9,0.0,0,0,4,100.0,100.0,0,0,12800,10127,4000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2019.0,5.0

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01