In [9]:
!pip install -i https://test.pypi.org/simple/ lambdataSeanAntosiak

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdataSeanAntosiak
  Downloading https://test-files.pythonhosted.org/packages/7f/6a/9bcda404b3bca9502bbb3fe4280c72808f1ae6462b0622f9fbf68cb00b95/lambdataSeanAntosiak-0.0.1-py3-none-any.whl
Requirement already satisfied: numpy in /opt/anaconda/anaconda3/lib/python3.7/site-packages (from lambdataSeanAntosiak) (1.16.2)
Requirement already satisfied: pandas in /opt/anaconda/anaconda3/lib/python3.7/site-packages (from lambdataSeanAntosiak) (0.24.2)
Requirement already satisfied: pytz>=2011k in /opt/anaconda/anaconda3/lib/python3.7/site-packages (from pandas->lambdataSeanAntosiak) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/anaconda/anaconda3/lib/python3.7/site-packages (from pandas->lambdataSeanAntosiak) (2.8.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->lambdataSeanAntosiak) (1.12.0)
Installing collected packages: lambdataSeanAntosiak
Successfully installed lambdataSeanAntosiak-0.0.1

In [12]:
import lambdataSeanAntosiak as ld
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/SeanAntosiak/DS-Unit-2-Kaggle-Challenge/master/data/renthop-nyc.csv')

In [26]:
ld.nullDF(df)

          features  NullCount
0      description       1446
1  display_address        135
2   street_address         10

In [17]:
df1 = pd.DataFrame([1,2,3,4],[4,2,1,4]).reset_index()
df1.columns=[0,1]
myList = [1,2,3,4]

In [19]:
ld.addListAsCol(df1, myList, 'newcol')

   0  1  newcol
0  4  1     1.0
1  2  2     2.0
2  1  3     3.0
3  4  4     4.0